<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" type="text/css" href="{{url_for('static',filename="style.css")}}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <title>BMI Calculator</title>
</head>
<body>
    <h1>BMI Calculator</h1>
        <div class="main">
            <form class="pure-form" method="POST" action="/">
                Enter your weight in kg:<br />
                <input type="text" name="weight"><br />
                Enter your height in cm:<br />
                <input type="text" name="height"><br />
                <button type="submit" class="pure-button pure-button-primary" value="submit">Submit !</button>
            </form>
        </div>
        <br />
        <div class="main">
            {% if bmi %}
                <p> Your BMI is {{ bmi }}</p>
            {% endif %}
        </div>
</body>
</html>