<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename="css/formstyle.css")}}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Please enter your name.</p>

        <form class="pure-form" method="POST" action="/form">
            Name:<br />
            <input type="text" name="username" ></br>
            Favorite Food:<br />
            <input type="text" name="favoritefood"><br>
            <button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button>
        </form>
    </div>
    <br />
    <div>
        {% if name %}
            <p>Welcome to my site {{name}} !</p>
            <p>You favorite food is {{ food }} !</p>
        {% endif %}
    </div>
    
</body>
</html>