<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename="css/style.css")}}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <title>Welcome Flask App</title>
</head>
<body>
    <h1>This is my root page</h1>
    <div class="main">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, animi necessitatibus! Numquam, quia tempora natus rerum similique saepe? 
        Ad delectus minus quia esse veniam quae itaque, expedita velit ducimus facere.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, maxime! Officiis, quo at. 
        Nostrum nulla dicta explicabo id! Eos labore consequatur aliquam rerum, minima unde qui id obcaecati magni laborum.</p>
    </div>
    <div>
        <table class="pure-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                </tr>
            </thead>
        
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Honda</td>
                    <td>Accord</td>
                    <td>2009</td>
                </tr>
        
                <tr>
                    <td>2</td>
                    <td>Toyota</td>
                    <td>Camry</td>
                    <td>2012</td>
                </tr>
        
                <tr>
                    <td>3</td>
                    <td>Hyundai</td>
                    <td>Elantra</td>
                    <td>2010</td>
                </tr>
            </tbody>
        </table>
    </div>
        <div>
            <form class="pure-form">
                <fieldset>
                    <legend>A compact inline form</legend>
            
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password">
            
                    <label for="remember">
                        <input id="remember" type="checkbox"> Remember me
                    </label>
            
                    <button type="submit" class="pure-button pure-button-primary">Sign in</button>
                </fieldset>
            </form>
        </div>
</body>
</html>